{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<h1>A pointless website that can greet you</h1>
<br>
<header>
    <nav>
        <a href="{% url 'greetings-home' %}">Greetings</a>
        <a href="{% url 'greeting-add' %}">Add greeting</a>
        <a href="{% url 'greeting-email' %}">Greeting email</a>
    </nav>
</header>
<br><br><br><br><br>
<div id="content">
    {% block content %} {% endblock %}
</div>
</body>
</html>